@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  height: 200vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1300px;
  width: 1000px;
  background-color: white;
  border: 10px solid white;
}
div {
  width: 500px;
}
.statu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statu-bar__column {
  font-size: 30px;
}
.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.title-bar__row:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: yellowgreen;
  border: 5px solid black;
  border-radius: 30%;
  font-size: 100px;
  margin-right: 50px;
}
#img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-bar__row:last-child {
  font-size: 25px;
}
.button-bar {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 800px;
}
.k {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-width: 0.1ex 0.1ex 0.8ex 0.1ex;
}
.button-bar__pl {
  width: 250px;
  height: 100px;
  border-radius: 15%;
}
.button-bar__cir {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.pl-list {
  display: flex;
  justify-content: center;

  flex-direction: column;
}
.pl-list__mu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.pl-list__mu__al {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 30%;
  margin-right: 30px;
}
#i1 {
  background-color: tomato;
}
#i2 {
  background-color: teal;
}
#i3 {
  background-color: blue;
}
#i4 {
  background-color: pink;
}
