@keyframes spell {
  0% {
    transform: scaley(1);
  }
  25% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes noTi {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  margin-bottom: 500px;
}
.cir {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  height: 500px;

  animation: noTi 4s ease-in-out infinite;
}
.ci {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
  margin: 24px;
}
.aq {
  margin: 5px;
  background-color: aqua;
  display: inline-block;
  height: 250px;
  width: 100px;
  animation: spell 1s ease-in-out infinite;
}
#i6 {
  animation-delay: 0.1s;
}
#i7 {
  animation-delay: 0.2s;
}
#i8 {
  animation-delay: 0.3s;
}
#i9 {
  animation-delay: 0.4s;
}
#i10 {
  animation-delay: 0.5s;
}
